@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  /* Fonts */
  font-family: 'Lexend Deca', sans-serif; /*400 only*/
  font-family: 'Inter', sans-serif; /*400, 700*/

  /* Colors Primary */
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);

  /* Colors Neutral */
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  /* ### Body Copy
- Font size: 15px */
}

/* START CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END CSS RESET */
html {
  height: 100%;
}
body {
  background-color: var(--very-dark-blue-main-background);
  font-size: 15px;
}
main {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header {
  background-color: var(--dark-desaturated-blue-card-background);
  height: 100%;
  width: 375px;
  margin: 5rem 0;
}

.header-image {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: rgba(170, 92, 219, 0.5);
}
.header-image > img {
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: overlay;
  object-fit: contain;
}

.header-item {
  text-align: center;
}
.header-title {
  color: var(--white-main-heading-stats);
  line-height: 1.2;
  font-size: 25px;
  letter-spacing: 0.8px;
  margin: 2.5rem 2.5rem 1.5rem 2.5rem;
  padding: 0 1rem;
}
.header-title__insights {
  color: var(--soft-violet-accent);
  letter-spacing: 1.5px;
}
.header-text {
  font-size: 15px;
  color: var(--slightly-transparent-white-main-paragraph);
  line-height: 1.8;
  margin: 0 2.5rem;
  padding: 0 1rem;
}
.header-stats {
  margin: 2.5rem 2.5rem 1.5rem 2.5rem;
}
.header-stats__numbers {
  font-weight: 700;
  font-size: 25px;
  color: var(--white-main-heading-stats);
  width: 100%;
}
.header-stats__numbers__subtext {
  display: block;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--slightly-transparent-white-stat-headings);
  margin-bottom: 1rem;
}
@media (min-width: 376px) {
}

footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  main {
  }
  .header {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
  }
  .header-stats {
    display: inline;
  }
}
